%section.block
	%h1.main-title
		%a{href: "/"}
			%span
				.fa.fa-cloud Cloudchat
		

	%h3.sub-title
		Easy Online Messaging.

	.center
		%button.btn.btn-start
			Get Started
	.panel-login
		= render 'devise/sessions/new'

:javascript
	
	$('.panel-login').hide();

	$('.btn-start').click(function(){
		$('.btn-start').fadeOut(1);
		$('.panel-login').show(200);
	});
