%section.block
	%h1.main-title
		Cloudchat
	.small-title
		Revolutionizing online friend chat

%section.block
	%p.small-title Simple as heck friend to friend chat over the cloud

	.panel-signup
		%h2.center Sign Up Now
		= render 'devise/registrations/new'