%section
	.panel-friends
		- @users.each_with_index do |user, index|
			%p
				= user.username
				= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation", "data-sid" => current_user.id, "data-rip" => user.id unless user == current_user



