/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "chat";
@import url(https://fonts.googleapis.com/css?family=Lobster);

body{
 	background-color: #517398;
}

.block{
	background-color: #517398;
	padding: 50px 0px;
	height: 100vh;
	max-height: 100vh;
}



.main-title{
	color: #fff;
	font-size: 100px;
	text-align: center;
	margin: 0;
}
.sub-title{
	font-family: 'Lobster', cursive;
	color: #fff;
	font-size: 50px;
	text-align: center;
	margin-top: 0;
}

.small-title{
	color: #ff606e;
	text-align: center;
}

.panel{
	width: 50%;
	margin: 0 auto;
}

.panel-signup{
	width: 50%;
	margin: 0 auto;
	background-color: #262c3a;
	border-radius: 2px;
	padding: 10px;
}
.panel-login{
	width: 50%;
	margin: 0 auto;
	background: none;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	margin-top: 30px;
}

.panel-friends{
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
 	border-top-left-radius: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 75%;
	width: 20%;
	float: right;
	padding-top: 100px;
}

.friend-chat-list{
	text-align: center;
}

.center{
	text-align: center;
}

.navbar{
	margin: 0;
	background-color: #262c3a;
	border: none;
	border-radius: 0;
	color: #fff;
}

.navbar-default{
	.navbar-nav{
		li {
			a{
				color: #fff;
				&:hover{
					color: #d1c5b7;
				}
			}
		}		
		}
}

.navbar-brand a{
	color: #fff;

	&:hover{
		text-decoration: none;
	}
}

.btn-start{
	margin-top: 20px;
	width: 150px;
	padding: 12px;
	background-color: #517398;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	transition: all 1s;

	&:hover{
		background-color: #262c3a;
		color: #fff;
		transition: all 1s;
	}
}
.btn-login{
	margin-top: 20px;
	width: 150px;
	padding: 12px;
	background-color: #517398;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	transition: all 1s;

	&:hover{
		background-color: #262c3a;
		color: #fff;
		transition: all 1s;
	}
}

.btn-chat{
	width: 100%;
	background-color: #fff;
	border-radius: 0;
	color: #262c3a;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transition: all 0.5s;

	&:hover{
		background-color: #517398;
		transition: all 0.5s;
	}
}
